.toDoContainer {
    width: 1200px;
    height: 800px;
    background-color: #272323;
    outline: 5px solid rgba(237, 234, 230, 0.75);
    border-radius: 10px;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}
