.noteCreateContainer {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width: 800px;
    height: 650px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-family: Reem Kufi Ink;
    font-size: 26px;
    color: #EDEAE6;
    text-decoration: none;
    letter-spacing: 0.25em;
    margin-left: 5px;
}

.underline {
    width: 140px;
    height: 1px;
    background-color: #EDEAE6;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C1515;
    border: 1px solid #C5C3C1;
    border-radius: 15px;
    width: 240px;
    height: 30px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: 30px;
    margin: 10px;
}

.searchIcon {
    height: 20px;
}

.searchInput {
    background: none;
    width: 190px;
    height: 20px;
    border: none;
    color:#EDEAE6;
}

