.noteListContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 650px;
}

.noteList {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 250px;
    height: 650px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-family: Reem Kufi Ink;
    font-size: 26px;
    color:#EDEAE6;
    text-decoration: none;
    letter-spacing: 0.25em;
    margin-left: 50px;
}

.underline {
    width: 66px;
    height: 1px;
    background-color: #EDEAE6;
    margin-bottom: 30px;
    margin-left: 45px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;  
    width: 150%;
    margin-left: 50px;
    max-height: 550px;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 0px 20px rgba(73, 125, 212, 0.25);
    width: 290px;
    min-height: 70px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    font-size: 18px;
    color:#EDEAE6;
    width: 240px;
    height: 100%;
}

.itemTextScroll {
    font-size: 18px;
    color:#EDEAE6;
    text-decoration: none;
    overflow-x: scroll;
}

.itemText {
    font-size: 18px;
    color: #EDEAE6;
    text-decoration: none;
}


.buttonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 100%;
}

.itemButton {
    width: 30px;
    height: 30px;
    padding: 0px;
    background: none;
    border: none;
}

.statusButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    background-color:#4D4F53;
    border-radius: 20px;
    border: 0.5px solid #C5C1C1;
}
